<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://carparkfeecalc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9eb5fc6a-b8cb-4e14-87ae-941da1bc9220/resourcegroups/CalcParkingFee/providers/Microsoft.Web/sites/CarParkFeeCalc</ResourceId>
    <UserName>$CarParkFeeCalc</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://carparkfeecalc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>